<style>
.profile-header-container{
  margin: 0 auto;
}

.profile-header-img {
  padding: 54px;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
}

.profile-header {
  margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
  margin-top: -15px;
  /* z-index: 1000; */
}

.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}
</style>
<div ng-controller="adminCtrl">
		<div class="container well col-lg-8 col-lg-offset-2" ng-init="getDocInfo()">
      <center>
		<div>
      <!-- <img ng-src={{docInfo.image}} alt="photo"> <h2>Doc. {{docInfo.name}}</h2> -->
      <div class="container">
        <div class="row">
              <div class="profile-header-container">   
              <div class="profile-header-img">
                      <img class="img-circle" src= "https://cdn.pixabay.com/photo/2017/01/06/19/15/soap-bubble-1958650_960_720.jpg"/>
                      <!-- badge -->
                      <div class="rank-label-container">
                          <span class="label label-default rank-label">Doc. {{docInfo.name}}</span>
                          <h4>Phone: {{docInfo.phone}}</h4>
                          <h4>Major: {{docInfo.major}}</h4>
                      </div>
                  </div>
              </div> 
        </div>
      </div>
      
    </div>
  </center>
      <center>
<form class="form-inline">
  <strong style="font-size: 20px; font-family:Open Sans; font-weight:bold; color:#555;">Add appointment:</strong>

         <input class="form-control" type="date" name="date" id="addeddateappointment">
	         <input class="form-control" type="time" name="time" id="addedtimeappointment">
	           <button type="submit" class="btn btn-danger" ng-click="addApointment()">Submit</button>
           </center>
         </form>

            <br />
            <br />

             <center>
               <h2 style="font-size: 30px; font-family:Open Sans; font-weight:bold; color:#555;">Reserved appointments:</h2>
             </center>
             <ul>
               <div ng-repeat="appointment in reservedAppointments">
                 <div class="well" style="background-color: rgba(190,190,190,0.3);">
                <li>
                    <h4><b>Date:</b> {{appointment.time[0]}}</h4>
                    <h4><b>Time:</b> {{appointment.time[1]}}</h4>
                    <h4><b>Patient name:</b> {{appointment.patientName}}</h4>
                    <h4><b>Patient phone:</b> {{appointment.patientPhone}}</h4>
                </li>
                <br>
                  <input type="text" id="recommendation" placeholder="Recommendation ...">
                  <button ng-click = "recommendation(appointment)">Submit</button>
                <button ng-click="deleteAppointment(appointment)" class="btn btn-danger">Delete</button>
              </div>
              </div>
            </ul>
            <!-- ////////////////////// -->

            <center>
              <h2 style="font-size: 30px; font-family:Open Sans; font-weight:bold; color:#555;">Open appointments:</h2>
            </center>
            <ul>
              <div ng-repeat="appointment in docInfo.open track by $index">
                <div class="well" style="background-color: rgba(190,190,190,0.3);">
               <li>
                   <h4><b>Date:</b> {{appointment.date}}</h4>
                   <h4><b>Time:</b> {{appointment.time}}</h4>
               </li>
               <button ng-click="deleteOpenAppointment(appointment)" class="btn btn-danger">Delete</button>
             </div>
             </div>
           </ul>
	 </div>
</div>
