<div id="mainpage" ng-controller="AppCtrl" ng-init="loadPage()">
   <div style="margin-left: 2em">
      <div ng-show="true" class="media well well-fuild col-lg-6 col-lg-offset-3 col-md-6 col-sm-12" ng-repeat="doctor in doctors">
         <div class="media-left media-top">
            <div class="media-left">
               <img ng-src="{{doctor.image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments" ng-click="getDoctorData(doctor.name)"/>
            </div>
            <div class="media-body">
               <h1 class="media-heading"><span style="color:#2E8B57; font-size: 40px;" > Doctor: </span> {{doctor.name}}</h1>
               <h4>
                  <span style="color:#2E8B57; font-size: 20px;" > Phone: </span> {{doctor.phone}}
               </h4>
               <h4>
                  <span style="color:#2E8B57; font-size: 20px;" > Major: </span>{{doctor.major}}
               </h4>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal addAppointments -->
   <!-- <div id="appointmentModal"></div> -->
   <!-- ng-init="getDoctorData('admin')" -->
   <div class="modal fade" id="myAppointments" role="dialog">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-body">
           <div class="media-left media-top">
             <div class="media-left">
               <img ng-src="{{currentDoctor[0].image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments"/>
             </div>
             <div class="media-body">
               <h1 class="media-heading"><span style="color:#2E8B57; font-size: 40px;" > Doctor: </span> {{currentDoctor[0].name}}</h1>
               <p>
                 <span style="color:#2E8B57; font-size: 20px;" > Phone: </span> {{currentDoctor[0].phone}}
               </p>
               <p>
                 <span style="color:#2E8B57; font-size: 20px;" > Major: </span> {{currentDoctor[0].major}}
               </p>
               <div class="row">
                 <div class="col-lg-8">
                   <label>Appointments</label>
                   <select class="selectpicker" ng-model="timeA" ng-change="selectedValue()"><option ng-repeat="app in currentDoctor[0].open">{{app.time}} {{app.date}}</option></select>
                   <!-- <div class="form-group">
                     <label for="usr">Name:</label> <input id="pName"
                     type="text" ng-model="nameVal" class=
                     "form-control" required="required"/>
                   </div> -->
                   <!-- <div class="form-group">
                     <label for="pwd">Phone:</label> <input id="pPhon"
                     type="text" class="form-control" ng-model=
                     "phoneVal" required="required"/>
                   </div> -->
                   <div class="form-group">
                     <label for="pwd">Case:</label> <input id='pcase'
                     type="text" class="form-control" ng-model=
                     "Caseval" required="required"/>
                   </div>
                   <br />
                   <!-- <span id="doctorName"><font color=
                   "white">{{doctor.name}}</font></span> -->
                   <div class="modal-footer">
                     <button type="submit" class="btn btn-success" ng-click="reserveAppointment(timeVal)" data-dismiss="modal">Submit</button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- </div><button ng-click="loadPage()" class="btn btn-danger">GetDoctors</button></div> -->
</div>
