<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    body{
      background-image: url('https://theinnovationenterprise.com/media/W1siZiIsImltYWdlcy93ZWItYmFja2dyb3VuZC1oZWFsdGgtZWRpdC5wbmciXV0/web-background-health-edit.png?sha=3d7f305a5528a06f');
    }
  </style>

    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
  </head>
  <!-- this index not working  -->
      <index></index>
      <img src={{profile.image}}>
      <h3>{{profile.mame}}</h3>
      <h3>{{profile.phone}}</h3>


      

       <ul>
               <div ng-repeat="appointment in profile.appointment">
                 <div class="well" style="background-color: rgba(190,190,190,0.3);">
                <li>
                    <h4><b>Time:</b> {{appointment.time}}</h4>
                    <h4><b>Case:</b> {{appointment.case}}</h4>
                    <h4><b>Recomindations:</b> {{appointment.recomendations}}</h4>
                </li>
                <button ng-click="" class="btn btn-danger">Delete</button>
              </div>
              </div>
       </ul>
  </body>
</html>
