<div ng-controller="adminCtrl">
	<p>Date {{$scope.date}}</p>
	 <input type="date" name="date" id="addeddateappointment">
	 <input type="time" name="time" id="addedtimeappointment">
	<input type="submit" ng-click="addapointment()">	
	<ul>
		<li ng-repeat="appointment in appointments">[appointment date: {{appointment.date}} , appointment time: {{appointment.time}}]</li>
		
	</ul>

	<button id="loadreserved" class="btn btn-success" ng-click="loadAppointments()">Load reserved appointments</button>
</div>


<!-- <script type="text/javascript">
		$('#image_button').click(function(){
  		$('#datetimepicker4').datetimepicker('show'); //support hide,show and destroy command
		});
	</script> -->

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script> -->

