<!-- add a controller directive to control the functionality in this div -->
<div id="mainpage" ng-controller="AppCtrl">
        <ul>
            <div ng-show=true class="media" ng-repeat="doctor in doctors">
                <div class="media-left media-top" >
                    <div class="media-left">
                        <img ng-src="{{doctor.image}}" class="media-object" style="width:80px"  ng-click="showDoctorAppointments(doctor.name)">
                        <div class="media-body">
                          <h1 class="media-heading">DR-name:{{doctor.username}}</h1>
                          <p>Phon Number: {{doctor.phoneNumber}}</p>
                          <p>Specialization: {{doctor.specilization}}</p>
                        <div ng-show="doctor.showAppointments" class="row">
                        <div class="col-lg-4">
                        <label>Appointments</label>
                        <select ng-model="timeVal" class="form-control">
                        <option selected>Select an appointment</option>
                        <option id="time" type="radio" ng-repeat="data in doctor.availableAppointments"/>
                        {{data.time}},{{data.date}}</option>
                        </select>
                        <div class="form-group">
                          <label for="usr">Name:</label>
                          <input id="pName" type="text" ng-model="nameVal" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Phone:</label>
                          <input id="pPhon" type="text" class="form-control" ng-model="phoneVal">
                        </div>
                        <br>
                        <span id="doctorName"><font color="white">{{doctor.name}}</font></span>
                        <button class="btn btn-success" ng-click="reserveAppointment(timeVal)">Submit</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <button ng-click="loadPage()" class="btn btn-success" >Get Doctors</button>
</div>
